@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}



nav {
    background-color: #4070f4;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav ul {
    display: flex;
    justify-content: center;
    justify-content: flex-end;
}

nav ul li {
    list-style-type: none;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.search-input {
    padding: 0.5rem 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);

}

.search-input input {
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 16px;
    box-shadow: 0px 0.3px 4px rgba(0, 0, 0, 0.17);
}

.mini-search {
    display: flex;
    align-items: center;
}

.mini-search .icon {
    margin-left: 10px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 0.50rem;

}

.mini-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.mini-title a {
    text-decoration: none;
    color: royalblue;
    font-weight: 600;
    margin-top: 30px;
}

.mini-title i {
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

body {
    min-height: 100vh;
    min-width: none;
    background-color: #efefef;
    display: flex;
    align-items: center;

    flex-direction: column;
}

.container .mini {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1.3px 12px -3px rgba(0, 0, 0, 0.4);
    background-color: white;
    padding: 2rem;
    width: 400px;
    height: 200px;
    margin-top: 40px;
    margin-left: 20px;

}

.title {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.title i {
    font-size: 1.5rem;
}

.download {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mini .download button {

    width: 200px;
    border: none;
    padding: 0.50rem;
    outline: none;
    border-radius: 0.50rem;
    cursor: pointer;
}

.download i {
    font-size: 1.2rem;
}

.download button:hover {
    background-color: whitesmoke;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

@media (max-width: 768px) {
    nav {
        flex-wrap: wrap;
    }

    .search-input input {
        height: 30px;
    }
}