<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link th:href="@{/css/bootstrap-grid.min.css}">

	<title>UPLOAD FILES</title>
</head>

<body>
	<div class="container p-5">
		<h1>Revision Past Papers</h1>
		<form action="#" th:action="@{/exam/upload}" method="post" th:object="${exam}" encType="multipart/form-data">
		<input type="file" name="files" required/>
			<div class="col-sm-8">
				<label for="exampleInputEmail1" class="form-label">Unit Name for the Exam</label>
				<input type="text" th:field="*{fileName}" class="form-control" id="exampleInputEmail1"
					aria-describedby="emailHelp">
			</div>
			<div class="col-sm-8">
				<label for="exampleInputEmail1" class="form-label">Date of the Exam</label>
				<input type="date" th:field="*{date}" class="form-control" id="exampleInputEmail1"
					aria-describedby="emailHelp">
			</div>
			<div class="col-sm-8">
				<label for="exampleInputEmail1" class="form-label">Which Faculty does the Exam belong to:</label>
				<div class="col-sm-8">
					<select th:field=*{faculty} class="form-control" required>
						<th:block th:each="fac : ${faculties}">
							<option th:text="${fac.name}" th:value="${fac.id}"}></option>
						</th:block>
					</select>
				</div>
			</div>
			<div class="text-center p-3">
				<button class="btn btn-primary" type="submit">Submit</button>
			</div>
		</form>
	</div>
	
</body>

</html>