<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Revision Papers</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>
	<div class="container">
		<nav class="navbar bg-light">
			<div class="container-fluid">
			  <a class="navbar-brand">Revision Papers</a>
			  <form class="d-flex" role="search"  th:attr="action=@{/search}" method= "GET">
				<input class="form-control me-2" name="query" type="search" autocomplete="off" placeholder="Search by unit name" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			  </form>
			</div>
		  </nav>
		<main>
			<div class="card-group">
				<div class="card" style="flex: 0 0 30%; margin:30px " th:each="faculty: ${faculties}">
					<div class="card-body ">
						<h5 ></h5>
						<a href="#" th:href="@{/faculty/{id}(id=${faculty.id})}"  class="card-title" th:text="${faculty.name}"></a>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<!-- Footer content -->
		</footer>
	</div>


</body>

</html>